<header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
            mat-icon-button
            [matMenuTriggerFor]="appMenu" 
        >
            menu
        </button>
        <span class="mdc-top-app-bar__title">App</span>
      </section>
    </div>
  </header>

  <mat-menu #appMenu="matMenu">
    <a routerLink="/login"><button mat-menu-item>Login</button></a>
  </mat-menu>